body{
    width: 95%;
    height:auto;
 
    display: flex;
    
    justify-content: center;
    background: linear-gradient(90deg, #eee0f01a, #efefef36);
}

#root{
    width: 100%;
    height:auto;
    padding: 0 10vw;
}  
.MuiModal-root{
    display: flex;
    align-items: center;
    justify-content: center;
} 